<h2>Tambah Pembelian</h2>

<form method="POST" action="/purchases/add">
  <label>Produk</label>
  <select name="product_id" required>
    <% products.forEach(p => { %>
    <option value="<%= p.id %>"><%= p.name %></option>
    <% }) %>
  </select>

  <label>Jumlah</label>
  <input type="number" name="quantity" min="1" required />

  <button type="submit">Simpan</button>
</form>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Tambah Pembelian
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Tambah Pembelian
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Form Start -->
        <form method="POST" action="/purchases/add">
          <div class="mb-3">
            <label for="product" class="form-label">Produk</label>
            <select
              id="product"
              name="product_id"
              class="form-select"
              aria-label="Product Name"
            >
              <% products.forEach(p => { %>
              <option value="<%= p.id %>"><%= p.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Jumlah</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              name="quantity"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- Form End -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
